.tab-items {
	display: grid;
	@include vp-css((gap: (mobile: 8px, desktop: 18px)));

	&.assets { grid-template-columns: 1fr min-content; }
	&.history {
		grid-template-columns: minmax(var(--width, 0px), 1fr) repeat(2, 1fr) min-content;
		@include vp-css((--width: (tablet: 220px, desktop: 280px)));
		@include vp-only(mobile) {
			grid-template-columns: 1fr repeat(2, min-content);
		}

		.history-dropdown {
			grid-column: span 3;

			hr { border: 1px solid #e2e2e2; }
			.flex { justify-content: space-between; }
		}

		.history-toggle {
			padding-inline: 8px;

			&.open svg { transform: rotate(180deg); }

			svg {
				width: 30px;
				height: auto;
			}

			path:nth-child(1) { fill: #e6deff; }
			path:nth-child(2) { fill: none; }
			path:nth-child(3) { fill: #8371b5; }
		}
	}

	.tab-item {
		display: contents;
	}

	.block {
		gap: 12px;
		padding: 16px;
		@include vp-css((padding: (mobile: 6px, tablet: 16px)));

		&:last-child {
			justify-content: end;
			text-align: end;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		@include vp-up(tablet) {
			gap: 6px;
		}
	}

	.icon {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.title {
		line-height: 1;
		font-weight: 600;
		color: #190948;
		@include vp-css((font-size: (mobile: 14px, tablet: 16px)));
	}

	.desc {
		color: #5a6876;
		font-weight: 500;
		@include vp-css((font-size: (mobile: 10px, tablet: 12px)));
	}

	.incoming, .outgoing {
		border: 1px solid var(--fg);
		color: var(--fg);
		padding: 2px 6px;
		border-radius: 6px;
		display: inline-block;
		margin-block-start: -3px;
	}

	.incoming {
		background: #00a1861a;
		--fg: #00a186;
	}

	.outgoing {
		background: #b4900026;
		--fg: #cc9a06;
	}
}
