.user {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	align-items: center;
	width: 100%;
	justify-content: space-between;

	.flex {
		@include vp-css((gap: (mobile: 14px, tablet: 30px)));
	}

	&-avatar {
		background: #eeeeee;
		border-radius: 50%;
		@include vp-css((padding: (mobile: 12px, tablet: 22px)));

		img {
			@include vp-css((--size: (mobile: 24px, tablet: 42px)));
			width: var(--size);
			height: var(--size);
		}
	}

	&-text {
		font-style: normal;
		line-height: normal;
		font-weight: 400;
	}

	&-title {
		color: #b5afcf;
		@include vp-css((font-size: (mobile: 16px, tablet: 24px)));
	}

	&-name {
		color: #503a92;
		@include vp-css((font-size: (mobile: 18px, tablet: 28px)));
	}

	.logout {
		border-radius: 8px;
		border-color: rgba(82, 62, 138, 0.54);
		background: #f8f5ff !important;
		box-sizing: content-box;
		@include vp-css((
			padding: (mobile: 2px 16px, tablet: 10px 36px),
			font-size: (mobile: 0.9em, tablet: 1.2em)
		));
	}
}
