.tabs-loader {
	opacity: 0;
	transition: opacity 1s;
	padding-inline: 16px;

	&.visible { opacity: 1; }
	&:not(.visible) { transition-delay: 1s; }

	svg {
		width: 20px;
		height: auto;
		fill: gray;
	}
}
