.token-transfer-form {
	&-title {
		color: var(--text-purple);
	}

	.ant-form-item-label label[for] {
		font-size: 1.2em;
		color: var(--text-purple);
	}

	.advanced {
		margin-block-end: 20px;
	}

	&-flash {
		margin-block-start: 20px;
	}
}
