.nfts {
	display: grid;
	grid-template-columns: repeat(var(--cols), 1fr);
	gap: 12px;
	padding-top: 20px;
	@include vp-css((--cols: (mobile: 2, tablet: 4)));
	@include max-width(330px) {
		--cols: 1;
	}

	> * { min-width: 0; }
}

.nft {
	border: 1px solid transparent;
	background: #faf9ff;
	transition: 0.2s;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
	padding: 10px 12px;

	&:hover {
		border: 1px solid #dcd0ff;
		background: #edeaff;

		img { transform: scale(1.03); }
	}

	&-image {
		position: relative;
		width: 100%;
		height: 0;
		overflow: hidden;
		border-radius: 10px;
		padding-block-end: 100%;
		background: #ececec;

		img {
			transition: transform 0.2s;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&-title {
		color: #513e8a;
		font-size: 16px;
		line-height: 1;
		font-weight: 400;
	}

	&-desc {
		color: #513e8a;
		font-size: 10px;
		font-weight: 400;
	}

	&-transfer {
		margin-block-start: auto;
	}
}

.nft-transfer-form {
	.ant-form-item-label label[for] {
		font-size: 1.2em;
		color: var(--text-purple);
	}
}

.input-title {
	color: #523e8a;
	font-size: 24px;
	font-weight: 400;
}

@include vp-down(mobile) {
	.nft .list-title {
		font-size: 14px;
	}
}
