/* Dashboard.module.css */

.container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 60px;
    height: auto;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.addButton {
    background-color: #a020f0;
    color: white;
    border: none;
    padding: 12px 24px; /* Increased padding for larger button */
    font-size: 18px; /* Increased font size */
    cursor: pointer;
    border-radius: 5px;
}

.addButton:hover {
    background-color: #7a16c0;
}

.title {
    font-size: 28px; 
    color: #333;
    margin-bottom: 20px;
}

.featureList {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 20px;
    --cols: 5;
    @media screen and (max-width: 900px) {
        --cols: 3;
    }
    @media screen and (max-width: 600px) {
        --cols: 2;
    }
}

.featureCard {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: auto; /* Allow height to adjust to content */
    overflow: hidden; /* Hide overflow content */
}

.featureTitleContainer {
    height: 60px; /* Adjusted height for larger font */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align text to the top */
}

.featureTitle {
    font-size: 16px; 
    color: #a020f0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Prevent wrapping */
    display: block;
    max-height: 100%; /* Ensure it doesn't exceed container */
}

.featureDescriptionContainer {
    height: 80px; /* Adjusted height for larger font */
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.featureDescription {
    font-size: 12px; /* Increased font size */
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Prevent wrapping */
    display: block;
    max-height: 100%; /* Ensure it doesn't exceed container */
}
