/* Dashboard.module.css */

.container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 60px;
    height: auto;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.addButton {
    background-color: #a020f0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.addButton:hover {
    background-color: #7a16c0;
}

.title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.featureList {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 20px;
    --cols: 5;
		@media screen and (max-width: 900px) {
			--cols: 3;
		}
		@media screen and (max-width: 600px) {
			--cols: 2;
		}
}

.featureCard {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.featureTitle {
    font-size: 18px;
    color: #a020f0;
    margin-bottom: 10px;
}

.featureDescription {
    font-size: 14px;
    color: #666;
}
