.dashboard-card {
	width: 100%;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	@include vp-css((padding: (mobile: 18px 32px, tablet: 38px 70px)));

	.dashboard-bg {
		--border-size: 5px;
		position: absolute;
		left: calc(-1 * var(--border-size));
		top: calc(-1 * var(--border-size));
		width: calc(100% + 2 * var(--border-size));
		height: calc(100% + 2 * var(--border-size));
		object-fit: cover;
		object-position: top right;
	}

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		@include vp-css((gap: (mobile: 12px, tablet: 30px)));
	}


	&-wallet .address {
		color: #625682;
		font-weight: 500;
		@include vp-css((font-size: (mobile: 10px, tablet: 18px)));
		@include vp-up(tablet) { margin-block: 4px; }

		img {
			@include vp-down(mobile) { width: 14px; }
		}
	}

	.btn-content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@include vp-css((
			gap: (mobile: 8px, tablet: 15px),
			margin-block-start: (mobile: 4px, tablet: 8px)
		));

		button {
			border: 1px solid #cde3f8;
			border-radius: 8px;
			width: 151px;
			height: 45px;
			font-size: 24px;
			color: #625682;
			font-weight: 400;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 4px;

			@include vp-down(mobile) {
				width: 80px;
				height: 25px;
				font-size: 10px;
				border-radius: 4px;

				img { width: 8px; }
			}
		}
	}

	.title-1 {
		--background: linear-gradient(90deg, #2e2155 0%, #513a94 100%);
		font-weight: 600;
		@include vp-css((font-size: (mobile: 14px, tablet: 24px)));
	}
	.title-2 {
		color: #625682;
		font-weight: 400;
		@include vp-css((font-size: (mobile: 10px, tablet: 18px)));
	}
	.title-3 {
		--background: linear-gradient(90deg, #2e2155 0%, #513a94 100%);
		font-weight: 800;
		@include vp-css((font-size: (mobile: 18px, tablet: 36px)));
	}
	.title-4 {
		color: #625682;
		font-weight: 500;
		@include vp-css((font-size: (mobile: 10px, tablet: 24px)));
	}
}
